<!doctype html>
<html>
	<head>
		<style>
		.red {color: #ff0000;}
		.green {color: #00ff00;}
		.blue {color: #0000ff;}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	</head>

	
	<body>
	  <textarea id="params">Enter criteria here</textarea>
	  <br>
	  <button id="find">Search</button>
		<br><br>
		<img id="cathere" src="http://24.media.tumblr.com/tumblr_m4ljb9DFVq1roe4b7o1_1280.jpg" alt="this is where the cats go" width=500></img>
		<br>
		 <button id="stop">Stop!!!</button>
		<script src="static/ajax.js"></script>
	</body>
</html>
